<h2>BatteryToInverter</h2>

<h3>What do we need?</h3>
<ul>
    <li>Two 12v Car batteries</li>
    <li><a href=""></a>Power inverter</li>
</ul>

<h3>How is it going to work?</h3>
<p>We will have 2 batteries. One which is being used and one which is being charged</p>

<h3>Problems to work around</h3>
<p>The Charging 12v battery will have to be outside and therefore will need to be protected against the elements</p>

<h3>How to test the solution</h3>
<p>We can use an already charged 12v battery to test whether the inverter will work</p>