<h2>Car Battery</h2>

<h3>Trivia</h3>

<p>The car battery needs to have a high enough Ah to be able to power what we want for as long as we want</p>
<br />
<a>If we remember the project goal we want to be able to power an electrical heater</a>

