<h2>ElectricHeater</h2>

<h3>Next thing to do</h3>

<p>Find a 1000W watt continous load heater</p>

<h3>Trivia</h3>

<p>The <a href="https://localhost:44350/WindTurbine/PowerInverter">power inverter</a> is rated at 2000W and it recommends that it powers things which have a continuous power of 1000W as the
    peak power of most electrical components will be double the load power</p>
<br />

