<h1>Full Bridge Rectifier</h1>

<h2>Crafting</h2>

<table>
    <tr>
        <th>
            Result
        </th>
        <th>
            Ingredients
        </th>
        <th>
            Tools
        </th>
    </tr>
    <tr>
        <td>
            Full Bridge Rectifier
        </td>
        <td>
            <a href="https://localhost:44350/ElectronicComponents/SchottkyDiode">4 Schottky diodes</a><br/>
            Electrolytic capacitor
        </td>
        <td>
            4 Custom Connectors with 14 screws<br />
            Or<br />
            Soldering iron and solder
        </td>
    </tr>
</table>

<h3>Next thing to do</h3>

<p>Then we need to attach the circuit to the solar charger with the battery and see if the battery charges</p>

<h3>Log</h3>

<p>The circuit now charges the capcitor. I have bought some crocidile clips for the multimeter as to test the circuit easily.</p>

<h3>Problem and Solution Table</h3>

<table>
    <tr>
        <th>
            Problem
        </th>
        <th>
            Potential Solution
        </th>
        <th>
            Plan for the Solution
        </th>
        <th>
            Conclusion
        </th>
        <th>
            Ultimate Solution
        </th>
    </tr>
    <tr>
        <td>
            No voltage is shown parallel to the capacitor
        </td>
        <td>
            One of the components may be faulty and therefore create a broken circuit
        </td>
        <td>
            Test all the components 
        </td>
        <td>
            All the diodes have been tested with the diode multimeter function and they aren't broke.
            The Generator also seems to be generating AC power
        </td>
        <td>
            Ceramic capacitors don't seem to work, however electrolytic capacitors do, 
            this may be a result of a high frequency AC wave. Ultimately the ceramnic capacitor has been replaced
            with a electrolytc capacitor and now a voltage is showing across the terminals of the capacitor
        </td>
    </tr>
</table>