<h2>Generator</h2>

<h3>Trivia</h3>

<p>The generator is a geared stepper motor which has already been used in the previous wind turbine.
    It is able to produce 12v AC from the spinning wind turbine </p>