<h2>Housing</h2>

<h3>Crafting</h3>

<table>
    <tr>
        <th>
            Result
        </th>
        <th>
            Ingredients
        </th>
        <th>
            Tools
        </th>
    </tr>
    <tr>
        <th>
            Wind Turbine Housing
        </th>
        <th>
            Primary Body<br />
            Secondary Body<br />
            3 Blades<br />
            Scaffold Pole<br />
            Mounting Bracket<br />
            Nose Cone<br />
            Hub<br />
        </th>
    </tr>
</table>

<h3>Trivia</h3>

<p>As the wind turbine will be outside it is very important that it is able to stand against the elements. In addition to the fact that the generator
    must not get wet</p>
