<h1>Wind Turbine</h1>

<h2>Project Sub - Sections</h2>

<h3>Crafting</h3>

<table>
    <tr>
        <th>
            Result
        </th>
        <th>
            Ingredients
        </th>
        <th>
            Tools
        </th>
    </tr>
    <tr>
        <td>
            Wind Turbine Project
        </td>
        <td>
            <a href="https://localhost:44350/WindTurbine/PowerGeneration">Power Generation</a><br />
            <a href="https://localhost:44350/WindTurbine/Housing">Wind Turbine Housing</a><br />
            <a href="https://localhost:44350/WindTurbine/ElectricHeater">Power Consumption</a>
        </td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
</table>

<h3>Project Goal</h3>

<p>In simple qualitative terms we want a wind turbine which is able to produce enough electricity to power an
    electric heater for the winter, as my parents spend less a year than homeless people do on heating</p>