<h2>Power Generation</h2>

<h3>Crafting</h3>

<table>
    <tr>
        <th>
            Result
        </th>
        <th>
            Ingredients
        </th>
        <th>
            Tools
        </th>
    </tr>
    <tr>
        <th>
            Power Generation
        </th>
        <th>
            <a href="https://localhost:44350/WindTurbine/Generator">Generator</a><br />
            <a href="https://localhost:44350/WindTurbine/FullBridgeRectifier">Full Bridge Rectifier</a><br />
            <a href="https://localhost:44350/WindTurbine/SolarCharger">Solar Charger</a><br />
            <a href="https://localhost:44350/WindTurbine/CarBattery">Car Battery</a><br />
            <a href="https://localhost:44350/WindTurbine/PowerInverter">Power Inverter</a>
        </th>
    </tr>
</table>

<h3>Log</h3>

<p>We currently have the Generator, Solar Charger and Power Inverter, but we still need to make the Full Bridge Rectifier, and buy a suitable car battery</p>

<h3>Trivia</h3>

<p>The <a href="https://localhost:44350/WindTurbine/Generator">generator</a> will produce an alternating current where a 
    <a href="https://localhost:44350/WindTurbine/FullBridgeRectifier">full bridge rectifier</a> will then 
    convert it into DC. Which will then be attached to a solar charger as to not overcharge the battery. The solar charger is then attached to the 
    battery. The battery will then be connected to the <a href="https://localhost:44350/WindTurbine/BatteryToInverter">power inverter</a></p>
