<h2>PowerInverter</h2>

<p>We have a krieger power inverter</p>

<h3>Notes</h3>

<p>Keep away from sunlight <br /> Don't place items on the inverter <br /></p>

<p>We first need to find out the starting load and continous loads of the appliances we want to use</p>
<p>We then need to check whether its peak load is larger than the rating of the power inverter which is 2000W</p>

